.login_box{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
header{
    padding: 1em;
    text-align: center;
    background: #130d71;
    color: #fdfff4;
    opacity: 0.7;
}
header:hover {
    opacity: 1.0;
}
#frmLogin {
    padding: 20px 60px;
    background: #130d91;
    color: white;
    display: inline-block;
    border-radius: 4px;
}
.field-group {
    margin:15px 0px;
}
.input-field {
    padding: 8px;width: 200px;
    border: #A3C3E7 1px solid;
    border-radius: 4px;
}
.form-submit-button {
    background: #e1ef95;
    border: 0;
    padding: 8px 20px;
    border-radius: 4px;
    color: #130d71;
    text-transform: uppercase;
}
.member-dashboard {
    padding: 40px;
    background: #D2EDD5;
    color: #555;
    border-radius: 4px;
    display: inline-block;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
.logout-button {
    color: #09F;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.error-message {
    text-align:center;
    color:#FF0000;
}
.demo-content label{
    width:auto;
}

